@page
@{
    Layout = "_LayoutNoMenu";
}
@model AboutModel
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["Phone"]</h3>

<p>Use this area to provide additional information.</p>
