@page
@model CarrerasModel


<div class="container">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <ul class="list-group">
        @foreach(var carrera in Model.Carreras)
        {
          <li class="list-group-item">@carrera</li>
        }
      </ul>
    </div>
  </div>
</div>
